# IDEs
.vscode/

# node
node_modules/
src/
coverage/
.husky/
.prettierrc
.eslintrc.js
.eslintcache
tsconfig.json

# jest
jest.*.js
jest.*.ts
__tests__/*
*.test.ts
*.test.tsx

# npm/yarn
yarn*.log
*.tgz

# macOS
.DS_Store
._*
